/* JeuxDeMots admin interface css stylesheet */

h1 {
	text-align:center;color:navy;
}

   #header ul {
		list-style: none;
		padding: 0;
		margin: 0;
    }
    
	#header li {
		float: left;
		border: 1px solid #bbb;
		border-bottom-width: 0;
		margin: 0;
    }
    
	#header a {
		text-decoration: none;
		display: block;
		background: #eee;
		padding: 0.24em 1em;
		color: #00c;
		width: 8em;
		text-align: center;
    }
	
	#header a:hover {
		background: #ddf;
	}
	
	#header #selected {
		border-color: black;
	}
	
	#header #selected a {
		position: relative;
		top: 1px;
		background: white;
		color: black;
		font-weight: bold;
	}
	
	#content {
		border: 1px solid black;
		clear: both;
		padding: 0 1em;
	}
