
.w-145735
{
	z-index:3;
	vertical-align:middle;
}

.jdm-treasure-museum-block
{
	
	margin:2cm;
	background-color:#FFFFFF;
	text-align:center;
}

.treasure-block
{
	position:relative;
	display:inline;
	vertical-align:middle;
	text-align:center;
	white-space:nowrap;
	z-index:5;
}

.treasure
{
	vertical-align:middle;
	color:lightgreen;
	font-variant:small-caps;
	display:inline;
	
}
	
.treasure-value
{
	font-weight:bold;
	font-family:Arial;
	color:orange;
	font-size:10pt;
	font-variant:small-caps;
	position:relative; bottom:-7px; right:1cm; z-index:1;
	display:none;
	
}

.treasure .t-1 {color:#99CC33;display:inline;position:relative;left:-5%;top:-5%}
.treasure .t-2 {color:#99CC66;display:inline;position:relative;left:5%}
.treasure .t-3 {color:#006600;display:inline;position:relative;left:-10%top:5%}
.treasure .t-4 {color:#006666;display:inline;position:relative;left:10%}
.treasure .t-5 {color:#000066;display:inline;position:relative;left:-5%:top:-5%}
.treasure .t-6 {color:#666699;display:inline;position:relative;left:5%}
.treasure .t-7 {color:#99CC99;display:inline;position:relative;left:-15%top:5%}
.treasure .t-8 {color:#666699;display:inline;position:relative;left:15%}
.treasure .t-9 {color:#CC66CC;display:inline;position:relative;left:-5%top:-5%}
.treasure .t-10 {color:#FF99CC;display:inline;position:relative;left:5%}
.treasure .t-11 {color:#FF0066;display:inline;position:relative;left:-5%top:5%}
.treasure .t-12 {color:#D68421;display:inline;position:relative;left:5%}
.treasure .t-13 {color:#99CC33;display:inline;position:relative;left:-5%top:-5%}
.treasure .t-14 {color:#99CC66;display:inline;position:relative;left:5%}
