
.jdm-treasure-museum-block
{
	
	margin:2cm;
	background-color:#FFFFFF;
	text-align:center;
	/*text-align: justify;*/
	}

.treasure-block
{
	display:inline;
	vertical-align:middle;
	text-align:center;
	white-space:nowrap;
}

.treasure
{
	
	color:lightgreen;
	font-variant:small-caps;
	display:inline;
	z-index:2;
}
	
.treasure-value
{
	font-weight:bold;
	font-family:Arial;
	color:lightgreen;
	font-size:10pt;
	font-variant:small-caps;
	position:relative; bottom:-7px; right:1cm; z-index:1;
	display:inline;
	
}

.treasure .t-1 {color:#DFDFDF;display:inline;}
.treasure .t-2 {color:#B8C9D6;display:inline;}
.treasure .t-3 {color:#668AA8;display:inline;}
.treasure .t-4 {color:#47657B;display:inline;}
.treasure .t-5 {color:#E76300;display:inline;}
.treasure .t-6 {color:#E76300;display:inline;}
.treasure .t-7 {color:#E76300;display:inline;}
.treasure .t-8 {color:#E76300;display:inline;}
.treasure .t-9 {color:#E76300;display:inline;}
.treasure .t-10 {color:#E76300;font-weight:bold;display:inline;}
.treasure .t-11 {color:#FF3310;font-weight:bold;display:inline;}
.treasure .t-12 {color:#FF3320;font-weight:bold;display:inline;}
.treasure .t-13 {color:#FF3330;font-weight:bold;display:inline;}
.treasure .t-14 {color:#FF3340;font-weight:bold;display:inline;}
.treasure .t-16 {color:#FF3350;font-weight:bold;display:inline;}
