hr
{
	clear:left;
}

body
{

	padding:0px;
	/*background-color:#F8F8FF;
	background-color:#D5E1DF; */
	background:url(http://i34.servimg.com/u/f34/11/93/20/27/lettre13.jpg) bottom right;
	margin:0px;
	marginwidth:"0";
	marginheight:"0";
	leftmargin:"0";
	topmargin:"0";
	height:100%;
	width:100%;
}

h1
{
	margin-top:0px;
	padding-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
	font-size:large;
	font-weight:bold;
	color:#006699;
}

h2
{
	margin-top:0px;
	padding-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
	font-weight:bold;
	padding-left:0px;
	color:#006699;
}

p
{
	padding-left:10px;
	padding-right:10px;
	color:#006699;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
}

a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { text-decoration:none; }
a:active { text-decoration:none; }

A:link { text-decoration: none; color:#006699 }
A:visited { text-decoration: none; color:#006699}
A:hover { text-decoration: none; color:660033 }

.jdm-home-instruction
{
	padding-left:20px;
	padding-right:20px;
	padding-top:40px;
	padding-bottom:20px;
	color:black;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	font-size:10pt;
	text-align:left;
	position:relative;right:6px; top:-6px;
	z-index:2;
	border:1px solid grey;
	background-color:white;
	height-max:10cm;
	width:12cm;
}

.jdm-home-instruction-shadow{
	position:absolute; top:50mm; left:55mm;
	float:left;
	clear:left;
	background: url(pics/shadowAlpha.png) no-repeat bottom right !important;
	background: url(pics/shadow.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;
}
	
	
.jdm-player-info-block
{
	text-align:center;
	vertical-align:middle;
	font-size:9pt;
	color:gray;
	position:relative;right:6px; top:-6px;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	border:1px solid grey;
	background-color:white;
	z-index:8;
	width:130px;
	height:150px;
}

.jdm-player-info-block-shadow{
	position:absolute; right:10px; top:2px;
	float:left;
	clear:left;
	background: url(pics/shadowAlpha.png) no-repeat bottom right !important;
	background: url(pics/shadow.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;
	z-index:8;
}

.jdm-login-block
{
	position:absolute; right:16px; top:35px;
	text-align:center;
	font-size:9pt;
	color:gray;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	border:1px solid grey;
	background-color:white;
	height-max:20px;
	width:130px;
	z-index:10;
}
	
.jdm-debug
{
	font-size:9pt;
	color: gray;
}

.jdm-lirmm-logo-block
{
	position:absolute; left:10px; top:-30px;
	width:200px;
	heigth:200px;
	/* border:1px solid red;*/
}

#jdm-lirmm-logo
{
	width:100px;
	heigth:100px;
	/* border:1px solid red;*/
}
	
.jdm-logo-block
{
	
	position:absolute; top:-40px; left:180px;
	width:410px;
	height:100px;
	/*border:1px solid red;*/
	z-index:5;
}

.jdm-logo{
	position:relative; top:10px; right:0px;
	/*background:url(logo-jdm/logo-jdm-black-small.gif) no-repeat bottom right; */
	background:url(logo-jdm/jdmtitreblcmz2.jpg) no-repeat top left;
	width:410px;
	height:99px;
	/*border:1px solid red;*/
}
.jdm-logo a{
	display:block;
	width:100%;
	height:100%;
	}
	
.jdm-prompt-block
{
	position:absolute; top:0px; left:0px;
	width:0%;
	height:0%;
	/*background-color:#D3E5F8;*/
	/* border:1px solid red; */
}

.jdm-prompt{
	font-weight:bold;
	font-size:18pt;
	font-variant:small-caps;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	color:#006699;
	text-align:left;
	padding-top:14px;
	padding-bottom:11px;
	padding-left: 215px;
	/* margin-top:1mm; */
	background-color:#D3E5F8;
	/* height:100%;*/
	visibility:hidden;
	z-index:-1;
}

.jdm-instruction{
	margin-left:30px;
	font-weight:normal;
	font-size:14pt;
	padding-top:5mm;
	padding-bottom:5mm;
	font-variant:small-caps;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	color:#006699;
}

.jdm-instruction-new
{
	margin-left:30px;
	font-weight:normal;
	font-size:14pt;
	color:red;
	text-decoration:blink;
	padding-top:5mm;
	padding-bottom:5mm;
	font-variant:small-caps;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
}

.jdm-consigne-warn
{
	font-weight:normal;
	font-size:40pt;
	color:#CC0066;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
}

.jdm-home-playas-block
{
	position:absolute; left:140mm;top:125mm;
	font-size:x-large;
	z-index:200;
	text-align:center;
	align:center;
	width:5cm;
}

.jdm-playas-block-1
{
	position:absolute; left:3mm;top:50mm;
	font-size:x-large;
	z-index:200;
	text-align:center;
	align:center;
	width:5cm;
}

.jdm-playas-block-2
{
	position:absolute; left:3mm;top:35mm;
	font-size:x-large;
	z-index:200;
	text-align:center;
	align:center;
	width:5cm;
	visibility:hidden;
}

.jdm-guest-warning
{
	font-family:sans-serif;
	text-align:center;
	vetical-align:middle;
	color:red;
	font-size:7pt; 
	border:1px solid grey;
	align:center;
	background-color:#FFFFCC;
	position:relative;
	top:0px;
	left:20%;
	width:110px;
	-moz-border-radius : 10px;
	-webkit-border-radius :10px;
}

.jdm-target-info-block
{
	text-align:right;
	font-size:12pt;
	color: gray;
	position:absolute; right:5mm;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	z-index:10;
	display:inline;
}

.jdm-proposal-block
{
	text-align:right;
	font-size:10pt;
	color: gray;
	position:absolute; right:5mm;
	background-color:#F8F8F8;
}



.jdm-best-score-block
{
	text-align:center;
	font-size:9pt;
	color:gray;
	position:relative;right:6px; top:-6px;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	border:1px solid grey;
	background-color:#EEF6F8;
	z-index:8;
	width:220px;
}

.jdm-best-score-block-shadow{
	display:inline;
	position:absolute;right:10px; top:10px;
	float:left;
	clear:left;
	background: url(pics/shadowAlpha.png) no-repeat bottom right !important;
	background: url(pics/shadow.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;
	z-index:8;
}

.jdm-best-score-title
{
	font-size:10pt;
	color:blue;
	margin-bottom:5px;
}
.jdm-best-score-item-tag
{
	display:inline;
}
.jdm-best-score-item-names
{
	display:inline;
	margin-left:5px;
	margin-right:5px;
}
.jdm-best-score-item-cr
{
	display:inline;
}

.jdm-best-couple-block
{
	text-align:center;
	font-size:9pt;
	color:gray;
	position:relative;right:6px; top:-6px;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	border:1px solid grey;
	background-color:#dcffff;
	z-index:8;
	width:220px;
}

.jdm-best-couple-block-shadow
{
	display:inline;
	position:absolute;right:10px; top:300px;
	float:left;
	clear:left;
	background: url(pics/shadowAlpha.png) no-repeat bottom right !important;
	background: url(pics/shadow.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;
	z-index:8;
}

.jdm-best-couple-title
{
	font-size:10pt;
	color:green;
	margin-bottom:5px;
}

.jdm-best-couple-item-tag
{
	display:inline;
}
.jdm-best-couple-item-names
{
	display:inline;
	margin-left:5px;
	margin-right:5px;
}
.jdm-best-couple-item-cr
{
	display:inline;
}

.jdm-best-friend-block
{
	text-align:center;
	font-size:9pt;
	color:gray;
	position:relative;right:6px; top:-6px;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	border:1px solid grey;
	background-color:#ffffcc;;
	z-index:8;
}

.jdm-best-friend-block-shadow
{
	display:inline;
	position:absolute;right:10px; top:600px;
	float:left;
	clear:left;
	background: url(pics/shadowAlpha.png) no-repeat bottom right !important;
	background: url(pics/shadow.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;
	z-index:8;
	width:220px;
}

.jdm-best-friend-title
{
	font-size:10pt;
	color:red;
	margin-bottom:5px;
}
.jdm-best-friend-item-tag
{
	display:inline;
}
.jdm-best-friend-item-names
{
	display:inline;
	margin-left:5px;
	margin-right:5px;
}
.jdm-best-friend-item-cr
{
	display:inline;
}


.jdm-postit-stats
{
	font-size:10pt;
	color:green;
	border:1px solid grey;
	background-color:#FFFFCC;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	color:#006699;
	position:absolute;
	left:10px;
	top:160px;
	width:180px;
	height:170px;
	-moz-border-radius : 10px;
	-webkit-border-radius :10px; 
	
}

.jdm-postit-mostwanted
{
	text-align:center;
	font-size:10pt;
	border:1px solid grey;
	/* background-color:#FFFFCC; */
	background-color:#EEF6F8;
	
	/* font-family:"Comic Sans Ms",arial, "lucida console", sans-serif; 
	color:#006699; */
	font-family:cursive;
	color:#006699;
	
	
	position:absolute;
	left:20px;
	top:320px;
	width:180px;
	height:200px;
	-moz-border-radius : 10px;
	-webkit-border-radius :10px; 
	padding-top:15px;
	padding-bottom:15px;
	/* visibility:hidden;*/
}

.jdm-postit-mw-item
{
	position:relative;
	font-size:10pt;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	color:#006699;
		/* visibility:hidden;*/
}

.jdm-postit-collections
{
	text-align:center;
	font-size:10pt;
	border:1px solid grey;
	/* background-color:#FFFFCC; */
	background-color:#DCFFFF;

	/* font-family:"Comic Sans Ms",arial, "lucida console", sans-serif; 
	color:#006699; */
	font-family:cursive;
	color:#006699;
	
	position:absolute;
	left:13px;
	top:540px;
	width:180px;
	height:120px;
	-moz-border-radius : 10px;
	-webkit-border-radius :10px; 
	padding-top:15px;
	padding-bottom:15px;
	z-index:2;
	/* visibility:hidden;*/
}

.jdm-postit-collection-item
{
	position:relative;
	font-size:10pt;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	color:#006699;
		/* visibility:hidden;*/
}

.jdm-postit-forum
{
	text-align:center;
	font-size:10pt;
	border:1px solid grey;
	/* background-color:#FFFFCC; */
	background-color:#FFFFCC;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	color:#006699;
	position:absolute;
	left:17px;
	top:670px;
	width:180px;
	height:40px;
	-moz-border-radius : 10px;
	-webkit-border-radius :10px; 
	padding-top:15px;
	padding-bottom:15px;
	z-index:1;
	/* visibility:hidden;*/
}


.jdm-gift-warning-block
{
	position:absolute;
	right:50px;
	top:100px;
	z-index:10;
	background: url(pics/gift-jdm-small.gif) no-repeat top left;
	width:50px;
	height:50px;
	/* border-style:solid; border-width:thin; border-color:red; */
}

.jdm-gift-warning
{
	visibility:hidden;
}
	
.jdm-souk-section
{
	font-size:14pt;
	font-variant:small-caps;
	margin:0mm;
}

.jdm-last-prop-block{
	font-size:10pt;
	color: gray;
}

.jdm-gameentry-block
{
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	font-size:18pt;
}

.jdm-term-context
{
	color:lightgrey;
	display:inline;
}

/* MENUS */

.jdm-menu
{
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	/* font-variant:small-caps; */
	font-size:14pt;
	font-weight:normal;
	text-align:center;
	z-index:2;
}

#jdm-menu-item-home-T
{
	display:inline;
	padding:0px 10px 0px 10px;
}
#jdm-menu-item-home-B
{
	visibility:hidden;
}

#jdm-menu-item-events-T
{
	display:inline;
	padding:0px 10px 0px 10px;
}
#jdm-menu-item-events-B
{
	visibility:hidden;
}

#jdm-menu-item-ranking-T
{
	display:inline;
	padding:0px 10px 0px 10px;
}
#jdm-menu-item-ranking-B
{
	visibility:hidden;
}

#jdm-menu-item-souk-T
{
	display:inline;
	padding:0px 10px 0px 10px;
}
#jdm-menu-item-souk-B
{
	visibility:hidden;
}

#jdm-menu-item-contact-T
{
	display:inline;
	padding:0px 10px 0px 10px;
	visibility:hidden;
}
#jdm-menu-item-contact-B
{
	display:inline;
	padding:0px 10px 0px 10px;
}


#jdm-menu-item-forum-T
{
	display:inline;
	padding:0px 10px 0px 10px;
	visibility:hidden;
}

#jdm-menu-item-forum-B
{
	display:inline;
	padding:0px 10px 0px 10px;
	position:absolute;
	top:250px;
	left:70px;
	z-index:100;
}

#jdm-menu-item-options-T
{
	display:inline;
	padding:0px 10px 0px 10px;
	visibility:hidden;
}

#jdm-menu-item-options-B
{
	display:inline;
	padding:0px 10px 0px 10px;
}

#jdm-menu-item-help-T
{
	display:inline;
	padding:0px 10px 0px 10px;
	visibility:hidden;
}

#jdm-menu-item-help-B
{
	display:inline;
	padding:0px 10px 0px 10px;
}

/* BLOCKS */

.jdm-top-block
{
	position:absolute;
	top:40px;
	left:0px;
	width:100%;
	height:70px;
	/* background-color:#A6CAF0; */
	display:inline;
}

.jdm-bottom-block
{
	/*visibility:hidden;*/
	position:absolute;
	top:450px;
	left:0px;
	width:100%;
	height:70px;
	/* background-color:#A6CAF0; */
	display:inline;
}

.jdm-level1-block
{
	position:absolute;
	display:inline;
	left:0px;
	top:140px;
	width:100%;
	height:70px;
	
/*	border-style:solid;
	border-width:thin;
	border-color:red; */
}

.jdm-level2-block
{
	position:absolute;
	display:inline;
	left:0px;
	top:210px;
	width:100%;
	height:70px;
/*	border-style:solid;
	border-width:thin;
	border-color:red; */
}

.jdm-level3-block
{
	position:absolute;
	display:inline;
	top:0cm; 
	left:0cm;
	top:280px;
			
	/* border-style:solid;
	border-width:thin;
	border-color:red; */
}


.jdm-top-menu-block
{
	position:absolute;
	top:26mm; 
	left:67mm;
	width:20cm;
	display:inline;
	align:center;
	z-index:1;
	
}

.jdm-bottom-menu-block
{
	/* visibility:hidden; */
	relative:absolute;
	top:-120mm; 
	left:400mm;
	width:24cm;
	/*display:inline;*/
	/* align:center; */
	z-index:1;
}

.jdm-warning{
	color:red;
}

.jdm-candidate-form-block
{
	margin-left:30px;
}

.jdm-last-prop-block
{
	margin-left:30px;
}

.jdm-taboo-block
{
	margin-left:30px;
}
	
.jdm-block-formbuyplay
{
}

.jdm-chart
{
	font-size:Small;
	font-variant:small-caps;
	font-family:sans-serif;
	color:grey;
	background-color:#E0E0E0;
	margin-left:30px;
	margin-right:30px;
}
	
.jdm-news-block
{
	text-align:center;
	align:middle;
	display:inline;
	position:absolute;
	top:60mm;
	right:0mm;
	z-index:0;
	/* border:1px solid red; */
	width:85mm;
}
		
.jdm-news
{
	font-size:9pt;
	font-variant:small-caps;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	color:#8B008B;
	font-style:italic;
	text-align:left;
	vertical-align:middle;
	padding-top:1px;
	padding-bottom:1px;
	background-color:#FFFFCC;
	border:1px solid grey;	
	width:8cm;
	height-min:3cm;
	position:relative; right:6px; top:-6px;
}
	
.jdm-news-shadow{
	position:relative; 
	right:0px;
	float:left;
	clear:left;
	background: url(pics/shadowAlpha.png) no-repeat bottom right !important;
	background: url(pics/shadow.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;
}
	
#jdm-news-block-0{
	position:relative;top:0px;left:0px;

}
#jdm-news-block-1{
	position:relative;top:-40px;left:-20px;
}

#jdm-news-block-2{
position:relative;top:-70px;left:-10px;
}
#jdm-news-block-3{
	visibility:hidden;
}
#jdm-news-block-4{
	visibility:hidden;
}
	
.jdm-gain-block
{
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	font-size:medium;
	color:green;
	margin-top:30px;
	margin-bottom:30px;

}

.jdm-term-prop-notinbase
{
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	font-size:10pt;
	color:#FFA500;
	display:inline;
}

.jdm-term-prop-inbase
{
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	font-size:10pt;
	color:green;
	display:inline;
}

.jdm-term-intersect-notinbase
{
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	font-size:10pt;
	color:#FFA500;
	display:inline;
}

.jdm-term-intersect-inbase
{
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	font-size:10pt;
	color:green;
	display:inline;
}

#dhtmltooltip{
	position:absolute;
	width:150px;
	border:1px solid black;
	padding:2px;
	background-color:#FFCC33;
	visibility:hidden;
	z-index:100;
}

.jdm-intern
{
	visibility:hidden;
	margin-bottom:-10px;
}

.jdm-pin-home-news
{
	position:absolute;
	top:54mm;
	left:120mm;
	z-index:30;
	background: url(pics/pin-1.gif) no-repeat bottom right;
	width:25px;
	height:25px;
		
/*	border-style:solid;
	border-width:thin;
	border-color:red; */
}

.jdm-pin-player-stats
{
	position:absolute;
	top:9px;
	right:17px;
	z-index:30;
	background: url(pics/pin-1.gif) no-repeat bottom right;
	width:25px;
	height:25px;
}

.jdm-ranking-block
{
	text-align:center;
	font-size:9pt;
	color:gray;
	position:relative;right:6px; top:-6px;
	font-family:"Comic Sans Ms",arial, "lucida console", sans-serif;
	/* border:1px solid grey; */
	background-color:white;
	z-index:21;
	width:75%;
	width-min:600px;
}

.jdm-ranking-block-shadow
{
	position:absolute;left:200px; top:10px;
	float:left;
	clear:left;
	/*background: url(pics/shadowAlpha.png) no-repeat bottom right !important;
	background: url(pics/shadow.gif) no-repeat bottom right;*/
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;
	z-index:20;
	height:100%;
}
