﻿hr
{
	clear:left;
}


body
{
	padding:0px;
	background-color:#F8F8FF;
	margin:0px;
	height:100%;
	width:100%;
	/*color:#006699;
	font-color:#006699;*/
	font-family:"Comic Sans Ms", "lucida console", arial , sans-serif;
	background: url(../pics/bgd/water.gif) bottom right;
	/*background: url(../pics/bgd/chutemur-big.jpg) top right;*/
	color:#006699;
	/*opacity: 0.5;*/
}

h1
{
	margin-top:0px;
	padding-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
	font-size:large;
	font-weight:bold;
	color:#006699;
}

h2
{
	margin-top:0px;
	padding-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
	font-weight:bold;
	padding-left:0px;
	color:#006699;
}
h3
{
	color:#006699;
}

p
{
	padding-left:10px;
	padding-right:10px;
	color:#006699;
}

a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { text-decoration:none; }
a:active { text-decoration:none; }


A:link { text-decoration: none; color:#006699 }
A:visited { text-decoration: none; color:#006699}
A:hover { text-decoration: none; color:#660033 }


#jdm-center-block{
	position:relative; top:30mm;
	width:600px;
	text-align:center;
	/*border:2px solid grey;*/
	margin-left: auto;
   	margin-right: auto;
   	z-index:100;
	}
	
	
.jdm-pin-home-news
{
	position:absolute;top:1mm;left:48%;
	/*position:absolute;
	top:36mm;
	*/
	
	/*	left:130mm; */
	/*left:50%;*/
	
	margin-left: auto;
   	margin-right: auto;
	z-index:30;
	background: url(../pics/pin-1.gif) no-repeat bottom right;
	width:25px;
	height:25px;
		
/*	border-style:solid;
	border-width:thin;
	border-color:red; */
}

#jdm-home-instruction
{
	opacity:0.95;
	/*margin-left: auto;
   	margin-right: auto;*/
   	
	padding-left:20px;
	padding-right:20px;
	padding-top:40px;
	padding-bottom:20px;
	color:#006699;
	font-size:10pt;
	text-align:left;
	
	position:relative;right:6px; top:-6px;
	
	z-index:2;
	border:1px solid grey;
	background-color:white;
	height:225px;
	width:570px;
	
	/*width:100%;*/
	text-align: justify;
}

	
#jdm-home-instruction-shadow{
	margin-left: auto;
   	margin-right: auto;
	position:relative;
	float:left;
	clear:left;
	background: url(../pics/shadowAlpha.png) no-repeat bottom right !important;
	background: url(../pics/shadow.gif) no-repeat bottom right;
	
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;
	
	height:287px;
	width:612px;
	z-index:2;
	/*border:1px solid red;*/
}
	
	
#jdm-player-info-block
{
	text-align:center;
	position:relative;right:6px; top:-6px;
	border:1px solid grey;
	background-color:white;
	z-index:27;
	width:130px;
	height:90px;
	opacity:1;
}

#jdm-player-info-block-contents
{
	text-align:center;
	font-size:9pt;
	color:#006699;
	position:relative;right:4px; top:10px;
	z-index:28;
	width:130px;
	height:90px;
}

#jdm-player-info-block-shadow{
	position:absolute; right:10px; top:2px;
	float:left;
	clear:left;
	background: url(../pics/shadowAlpha.png) no-repeat bottom right !important;
	background: url(../pics/shadow.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;
	z-index:26;
}

.jdm-login-block
{
	position:absolute; right:-1px; top:35px;
	text-align:center;
	font-size:9pt;
	color:gray;
	border:1px solid grey;
	background-color:white;
	z-index:100;
	width:100px;
}

.jdm-niou
{
	position:absolute; right:-2px; bottom:-100px;
	text-align:center;
	font-size:9pt;
	color:gray;
	/*border:1px solid grey;*/
	/*background-color:white;*/
	z-index:100;
	height:16px;
	width:100%;
}
	
.jdm-debug
{
	font-size:9pt;
	color: red;
}
.jdm-debug-block
{
	font-size:9pt;
	/*background-color:white;*/
	z-index:10000;
	position:fixed; left:0px; bottom:0px;
}

#jdm-debug-block-time
{
	font-size:9pt;
	background-color:white;
	z-index:5000;
	position:fixed; left:0px; bottom:0px;
}


.jdm-lirmm-logo-block
{
	position:absolute; left:0mm; top:0mm;
	background-color:black;
	visibility:hidden;
}

#jdm-lirmm-logo {
	position:absolute; left:2mm; top:1mm;
	background-color:black;
}



.jdm-logo-block
{
	/*position:absolute; top:70px; left:0px;*/
	position:absolute; top:0px; left:0px;
	width:200px; 
	height:100%;
	/* display:block;
	 border:1px solid red; */
	z-index:300;
}

.jdm-logo
{
	position:absolute; top:0px; left:0px;
	/*float:left;*/
	background:url(../logo-jdm/logo-jdm-black-small.gif) no-repeat top left; 
	/* background:url(../logo-jdm/jdmtitreaiguny3.jpg) no-repeat bottom right; */
	width:100%;
	height:100%;
	/* z-index:2;*/
	overflow:visible;
	z-index:50;
}
.jdm-logo a{
	display:block;
	width:100%;
	height:100%;
	}
	
	
	
.jdm-artefact0-block
{
	position:absolute; top:80px; left:80px;
	width:40px; 
	height:40px;
	z-index:300;
}

.jdm-artefact1-block
{
	position:absolute; top:80px; left:80px;
	width:40px; 
	height:40px;
	z-index:300;
}

.jdm-artefact2-block
{
	position:absolute; top:80px; left:80px;
	width:40px; 
	height:40px;
	z-index:300;
}
.jdm-artefact3-block
{
	position:absolute; top:80px; left:80px;
	width:40px; 
	height:40px;
	z-index:300;
}
.jdm-artefact4-block
{
	position:absolute; top:80px; left:80px;
	width:40px; 
	height:40px;
	z-index:300;
}

.jdm-artefact0
{
	background:url(../pics/blue_bulb.gif) no-repeat top left; 
	width:100%;
	height:100%;
	overflow:visible;
	z-index:50;
}
.jdm-artefact1
{
	background:url(../pics/purple_bulb.gif) no-repeat top left; 
	width:100%;
	height:100%;
	overflow:visible;
	z-index:50;
}
.jdm-artefact2
{
	background:url(../pics/red_bulb.gif) no-repeat top left; 
	width:100%;
	height:100%;
	overflow:visible;
	z-index:50;
}
.jdm-artefact3
{
	background:url(../pics/green_bulb.gif) no-repeat top left; 
	width:100%;
	height:100%;
	overflow:visible;
	z-index:50;
}
.jdm-artefact4
{
	background:url(../pics/yellow_bulb.gif) no-repeat top left; 
	width:100%;
	height:100%;
	overflow:visible;
	z-index:50;
}
.jdm-artefact0 a{
	display:block;
	width:100%;
	height:100%;
}
.jdm-artefact1 a{
	display:block;
	width:100%;
	height:100%;
}
.jdm-artefact2 a{
	display:block;
	width:100%;
	height:100%;
}
.jdm-artefact3 a{
	display:block;
	width:100%;
	height:100%;
}
.jdm-artefact4 a{
	display:block;
	width:100%;
	height:100%;
}
	
	

	
.jdm-prompt-block
{
	position:absolute; top:0px;left:0px;
	height:100%;
	width:100%;
	/*background-color:#D3E5F8;*/
	/*background-color:#CCD6FF;*/
	/*background-color:white;*/
	/*border:1px solid blue; */
	z-index:0;
	opacity:0.75;
}

.jdm-prompt
{
	/*border:1px solid red; */
	font-weight:bold;
	font-size:14pt;
	font-variant:small-caps;
	color:#006699;
	text-align:left;
	padding-top:14px;
	padding-bottom:11px;
	padding-left: 202px;
	position:relative; 
	left:-130px;
	/* margin-top:1mm; */
	/*background-color:#D3E5F8;*/
	/*background-color:#CCD6FF;*/
	/* height:100%;*/
	opacity:1;
}



.jdm-instruction
{
	margin-left:30px;
	font-weight:normal;
	font-size:12pt;
	padding-top:5mm;
	padding-bottom:5mm;
	font-variant:small-caps;
	color:#006699;
}

.jdm-instruction-new
{
	margin-left:30px;
	font-weight:normal;
	font-size:14pt;
	color:red;
	text-decoration:blink;
	padding-top:5mm;
	padding-bottom:5mm;
	font-variant:small-caps;
}

#jdm-consigne-warn-block
{
	text-align:center;
	vertical-align:middle;
	position:absolute;
	left:400px;
	top:170px;
	width:228px;
	height:228px;
	z-index:50;
	background: url(../pics/postits/postit-big2.png) no-repeat top left;
}
#jdm-consigne-warn
{
	text-align:center;
	vertical-align:middle;
	font-weight:normal;
	font-size:30pt;
	color:black;
	padding-top:50px;
}

#jdm-consigne-tips-block
{
	text-align:center;
	vertical-align:middle;
	position:absolute;
	left:400px;
	top:170px;
	width:228px;
	height:228px;
	z-index:50;
	background: url(../pics/postits/postit-big2.png) no-repeat top left;
}

#jdm-consigne-tips
{
	text-align:center;
	vertical-align:middle;
	font-weight:normal;
	font-size:14pt;
	color:black;
	padding:20px;
}

.jdm-badword-warn-block,.jdm-notice1-block
{
	/*text-align:center;
	vertical-align:middle;*/
	/*position:absolute;
	left:400px;
	top:170px;
	*/
   	
   	text-align:center;
	position:relative;top:0px;
	margin-left: auto;
   	margin-right: auto; 
   	width:228px;
	height:228px;
	z-index:100;
	background: url(../pics/postits/postit.png) no-repeat top left;
}
.jdm-badword-warn
{
	text-align:center;
	vertical-align:middle;
	font-weight:normal;
	font-size:18pt;
	color:#CC0066;
	padding-top:40px;
}
.jdm-notice1
{
	text-align:center;
	vertical-align:middle;
	font-weight:normal;
	font-size:14pt;
	color:#CC0066;
	margin:28px;
	margin-top:43px;
	margin-right:43px;
	/*padding-right:60px;
	padding-left:20px;
	padding-top:50px;
	padding-bottom:10px;*/
	width:185px;
	height:185px;
	position:relative; top:50px;
}
.jdm-report-block
{
	position:absolute;
	left:40px;
	bottom:20px;
}

.jdm-home-playas-block
{
	position:absolute; left:450px;top:235px;
	font-size:x-large;
	z-index:1000;
	text-align:center;
	width:5cm;
}
#jdm_play_button
{
}

#jdm-compteur-block {
	color:#F8F8FF;
	border:0px solid grey;
	background: url(../pics/stain-half.gif) no-repeat top left;
	width:231px;
	height:290px;
	position:relative; left:0px;top:-100px;
	}
#jdm-compteur {
	border:0px solid red;
	position:relative; left:-27px;top:120px;
	}
	
#playas-form-home {
	position:relative; left:10px;top:10px;
	}
#playas-form {
	position:relative; left:0mm;top:24mm;
	}
	
.jdm-playas-block-1
{
	opacity:0.9;
	position:fixed; left:-19mm;top:30mm;
	font-size:x-large;
	z-index:2000;
	text-align:center;
	width:245px;
	height:213px;
	border:0px solid grey;
	vertical-align:middle;
	/*background: url(../pics/stain-half.gif) no-repeat top left;*/
	background: url(../pics/tache_noire.png) no-repeat top left;
}

.jdm-playas-block-2
{
position:fixed; left:-19mm;top:30mm;
	font-size:x-large;
	z-index:2000;
	text-align:center;
	width:245px;
	height:213px;
	border:0px solid grey;
	vertical-align:middle;
	/*background: url(../pics/stain-half.gif) no-repeat top left;*/
	background: url(../pics/tache_noire.png) no-repeat top left;
}

.jdm-playas-block-3
{
	position:fixed; left:-19mm;top:30mm;
	font-size:x-large;
	z-index:2000;
	text-align:center;
	width:245px;
	height:213px;
	border:0px solid grey;
	vertical-align:middle;
	/*background: url(../pics/stain-half.gif) no-repeat top left;*/
	background: url(../pics/tache_noire.png) no-repeat top left;
	
}

.jdm-about-block
{
	text-align:center;
	vertical-align:middle;
	position:absolute;
	right:20px;
	top:420px;
	width:152px;
	height:123px;
	opacity:0.85;
	background: url(../pics/tacheinfo2.png) no-repeat top left;
}
.jdm-about-block:hover
{
	position:absolute;
	right:21px;
	top:419px;
}

.jdm-about
{
	text-align:center;
	color:#006699;
	font-size:16pt;
	position:relative;
	top:48px;
	left:32px;
	width:100px;
	z-index:0;
}

#jdm-guest-warning-block
{
	text-align:center;
	vertical-align:middle;
	position:absolute;
	left:-400px;
	top:20px;
	width:155px;
	height:160px;
	z-index:5000;
/*	background: url(pics/postits/postit148saumon.png) no-repeat top left;*/
/*	background: url(../pics/entour.gif) no-repeat top left;*/
	background: url(../pics/postits/postit148bleu.png) no-repeat top left;
	z-index:-1;
}
#jdm-guest-warning
{
	text-align:center;
	color:red;
	font-weight:bold; 
	font-size:10pt; 
	/*border:1px solid grey; */
	/*background-color:#FFFFCC;*/
	position:relative;
	top:50px;
	left:0px;
	width:90%;
	/*-moz-border-radius : 10px;
	-webkit-border-radius :10px;
	*/
	z-index:0;
}

.jdm-target-info-block
{
	position:absolute; right:-1px; top:6mm;
	text-align:center;
	font-size:9pt;
	color:#006699;
	border:1px solid grey;
	background-color:white;
	z-index:100;
	width:100px;
		font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

.jdm-proposal-block
{
	
	text-align:right;
	font-size:10pt;
	color:#006699;
	position:absolute; right:-1px; top:230px;
	border:1px solid grey;
	background-color:white;
	padding-right:10px;
	padding-left:5px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	opacity:0.9;
}
.jdm-proposal-select-block
{
	
	text-align:right;
	font-size:10pt;
	color:#006699;
	/*border:1px solid grey;*/
	background-color:#FCDFFF;
	padding-right:10px;
	padding-left:5px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}



.jdm-best-score-block
{
	text-align:center;
	font-size:9pt;
	color:gray;
	position:relative;right:6px; top:-6px;
	border:1px solid grey;
	background-color:#EEF6F8;
	z-index:8;
	width:220px;
}

.jdm-best-score-block-shadow{
	display:inline;
	position:absolute;right:10px; top:10px;
	float:left;
	clear:left;
	background: url(../pics/shadowAlpha.png) no-repeat bottom right !important;
	background: url(../pics/shadow.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;
	z-index:8;
}

.jdm-best-score-title
{
	font-size:10pt;
	color:blue;
	margin-bottom:5px;
}
.jdm-best-score-item-tag
{
	display:inline;
}
.jdm-best-score-item-names
{
	display:inline;
	margin-left:5px;
	margin-right:5px;
}
.jdm-best-score-item-cr
{
	display:inline;
}

.jdm-best-couple-block
{
	text-align:center;
	font-size:9pt;
	color:gray;
	position:relative;right:6px; top:-6px;
	border:1px solid grey;
	background-color:#dcffff;
	z-index:8;
	width:220px;
}

.jdm-best-couple-block-shadow
{
	display:inline;
	position:absolute;right:10px; top:300px;
	float:left;
	clear:left;
	background: url(../pics/shadowAlpha.png) no-repeat bottom right !important;
	background: url(../pics/shadow.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;
	z-index:8;
}

.jdm-best-couple-title
{
	font-size:10pt;
	color:green;
	margin-bottom:5px;
}

.jdm-best-couple-item-tag
{
	display:inline;
}
.jdm-best-couple-item-names
{
	display:inline;
	margin-left:5px;
	margin-right:5px;
}
.jdm-best-couple-item-cr
{
	display:inline;
}

.jdm-best-friend-block
{
	text-align:center;
	font-size:9pt;
	color:gray;
	position:relative;right:6px; top:-6px;
	border:1px solid grey;
	background-color:#ffffcc;;
	z-index:8;
}

.jdm-best-friend-block-shadow
{
	display:inline;
	position:absolute;right:10px; top:600px;
	float:left;
	clear:left;
	background: url(../pics/shadowAlpha.png) no-repeat bottom right !important;
	background: url(../pics/shadow.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;
	z-index:8;
	width:220px;
}

.jdm-best-friend-title
{
	font-size:10pt;
	color:red;
	margin-bottom:5px;
}
.jdm-best-friend-item-tag
{
	display:inline;
}
.jdm-best-friend-item-names
{
	display:inline;
	margin-left:5px;
	margin-right:5px;
}
.jdm-best-friend-item-cr
{
	display:inline;
}


#jdm-postit-stats
{
	font-size:11pt;
/*	border:1px solid grey; */
/*	background-color:#FFFFCC;*/
	color:#006699;
	position:absolute;
	left:22px;
	top:15px;
	width:180px;
	height:180px;	
}

#jdm-postit-stats-block
{
	position:absolute;
	left:-12px;
	top:120px;
	width:213px;
	height:256px;
	/*background: url(../pics/postits/postit-colle.png) no-repeat top left;*/
	background: url(../pics/postitjaune3.png) no-repeat top left;
	z-index:3;
}

.jdm-postit-mostwanted
{
	text-align:center;
	font-size:10pt;
	/* border:1px solid grey;  */
	/* background-color:#FFFFCC; */
	/* background-color:#EEF6F8; */
	
	color:#006699; 
	position:absolute;
	left:20px;
	top:40px;
	width:180px;
	height:200px;
	/* -moz-border-radius : 10px;
	-webkit-border-radius :10px; */
	/* visibility:hidden;*/
	z-index:2;
}

.jdm-postit-mostwanted-block
{
	position:absolute;
	left:-15px;
	top:360px;
	width:213px;
	height:256px;
	background: url(../pics/postits/postit-colle2-blue.png) no-repeat top left;
	z-index:2;
	visibility:hidden;
}

.jdm-postit-mostwanted-title {
	font-size:12pt;
	padding:10px;
	}
	
.jdm-postit-mw-item
{
	position:relative;
	font-size:12pt;
	color:#006699;
		visibility:hidden;
}

.jdm-postit-collections
{
	text-align:center;
	font-size:10pt;
	color:#006699; 
	position:absolute;
	left:-10px;
	top:5px;
	width:180px;
	height:120px;
	z-index:1;
}

.jdm-postit-collections-block
{
	position:absolute;
	left:15px;
	/*top:500px;*/
	top:380px;
	width:213px;
	height:256px;
	background: url(../pics/postits/postitcolleviolet4.png) no-repeat top left;
	z-index:1;
}

.jdm-postit-collections-title {
	font-size:12pt;
	padding:10px;
	}

.jdm-postit-collection-item
{
	position:relative;
	font-size:10pt;
	color:#006699;
		/* visibility:hidden;*/
}

.jdm-postit-forum
{
	text-align:center;
	font-size:10pt;
	border:1px solid grey;
	/* background-color:#FFFFCC; */
	background-color:#FFFFCC;
	color:#006699;
	position:absolute;
	left:17px;
	top:670px;
	width:180px;
	height:40px;
	/*-moz-border-radius : 10px;
	-webkit-border-radius :10px;*/
	padding-top:15px;
	padding-bottom:15px;
	z-index:1;
	 visibility:hidden;
}


#jdm_duel_insert_score_block{
	text-align:center;
	vertical-align:middle;
	position:fixed;
	left:-2px;
	bottom:50px;
	width:160px;
	height:160px;
	z-index:60;
	background: url(../pics/postits/postit148vertdouble.png) no-repeat top left;
	}
	
#jdm_duel_insert_score_form {
	width:140px;
	height:150px;
	position:relative;
	left:13px;
	top:40px;
	font-size:10pt;
	}
	

.jdm-gift-warning-block
{
	text-align:center;
	vertical-align:middle;
	position:absolute;
	left:-25px;
	top:360px;
	width:228px;
	height:228px;
	z-index:50;
	background: url(../pics/postits/postit5.png) no-repeat top left;

}

.jdm-gift-warning
{
	position:absolute;left:20px;top:40px;
	vertical-align:middle;
	text-align:center;
	font-size:12pt;
	color:#006699;
	width:50%;
	height:80%;
}

.jdm-gamesleft-warning-block
{
	text-align:center;
	vertical-align:middle;
	position:absolute;
	left:60%;
	top:315px;
	width:228px;
	height:228px;
	z-index:50;
	background: url(../pics/postits/postit3.png) no-repeat top left;

}

.jdm-gamesleft-warning
{
	position:absolute;left:25px;top:32px;
	vertical-align:middle;
	text-align:center;
	font-size:11pt;
	color:#006699;
	width:100px;
	height:100px;
}

.jdm-rank-warning-block
{
	text-align:center;
	vertical-align:middle;
	position:absolute;
	left:0px;
	top:300px;
	width:228px;
	height:228px;
	z-index:50;
	background: url(../pics/postits/postit4.png) no-repeat top left;
}

.jdm-rank-warning
{
	position:absolute;left:20px;top:45px;
	vertical-align:middle;
	text-align:center;
	font-size:40pt;
	color:#006699;
	width:100px;
	height:100px;
}


.jdm-trial-tokens-warning-block
{
	text-align:center;
	vertical-align:middle;
	position:absolute;
	left:40%;
	top:305px;
	width:228px;
	height:228px;
	z-index:50;
	background: url(../pics/postits/postit148vertdouble.png) no-repeat top left;
}

.jdm-trial-tokens-warning
{
	position:absolute;left:30px;top:50px;
	vertical-align:middle;
	text-align:center;
	font-size:10pt;
	color:#006699;
	width:100px;
	height:100px;
}


.jdm-invok-warning-block
{
	text-align:center;
	vertical-align:middle;
	position:absolute;
	left:38%;
	top:375px;
	width:228px;
	height:228px;
	z-index:50;
	background: url(../pics/postits/postitdouble.png) no-repeat top left;
}

.jdm-invok-warning
{
	position:absolute;left:27px;top:40px;
	vertical-align:middle;
	text-align:center;
	font-size:13pt;
	color:#006699;
	width:100px;
	height:100px;
}
	
.jdm-souk-section
{
	font-size:14pt;
	font-variant:small-caps;
	margin:0mm;
}



.jdm-last-prop-block
{
	
	font-size:10pt;
	color: gray;
}

.jdm-treasure
{
	
	font-size:10pt;
}

#jdm-gameentry-block
{
	/*border-style : solid;
	border-width:1pt;
	border-color:grey;
	background-color:white;
	padding:10px;
	opacity:0.8;*/
	text-align:center;
	margin-left: auto;
   	margin-right: auto;
   	position:relative;
   	top:-15px;
}
#jdm-gameentry-block-text
{
	font-size:18pt;
	/*opacity:1;
	z-index:1000;
	border-style : solid;
	border-width:1pt;
	border-color:grey;*/
}

.jdm-special-block
{
	width:100%;
	height:90px;
}
.jdm-special-question
{
	font-size:18pt;
	position:relative;top:-70px;
	z-index:10;
	size:100px;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
}

.jdm-QPOS
{
	color:#800080;
	width:145px;
	height:145px;
	font-size:14pt;
	position:relative;right:-20px;bottom:140px;
}
.jdm-QPOS-block
{	text-align:center;
	width:182px;
	height:177px;
	position:absolute;right:0px;bottom:-20px;
}

.jdm-term-context
{
	color:lightgrey;
	display:inline;
}

/* MENUS */

.jdm-menu
{
	font-variant:small-caps;
	font-size:14pt;
	font-weight:normal;
	text-align:center;
	color:#D3E5F8;
	color:red;
}

.jdm-menu A:link{text-decoration: none; color:#FFFFA9;}
.jdm-menu A:visited{text-decoration: none; color:#FFFFA9;}
.jdm-menu A:hover{text-decoration: none; color:red;}

#jdm-menu-item-home-T
{
	display:inline;
	padding:0px 10px 0px 10px;
}
#jdm-menu-item-home-B
{
	visibility:hidden;
}

#jdm-menu-item-events-T
{
	display:inline;
	padding:0px 10px 0px 10px;
}
#jdm-menu-item-events-B
{
	visibility:hidden;
}

#jdm-menu-item-ranking-T
{
	display:inline;
	padding:0px 10px 0px 10px;
}
#jdm-menu-item-ranking-B
{
	visibility:hidden;
}

#jdm-menu-item-souk-T
{
	display:inline;
	padding:0px 10px 0px 10px;
}
#jdm-menu-item-souk-B
{
	visibility:hidden;
}

#jdm-menu-item-contact-T
{
	display:inline;
	padding:0px 10px 0px 10px;
	font-size:10pt;
}
#jdm-menu-item-contact-B
{
	display:inline;
	padding:0px 10px 0px 10px;
}


#jdm-menu-item-forum-T
{
	display:inline;
	padding:0px 10px 0px 10px;
	font-size:10pt;
}

#jdm-menu-item-forum-B
{
	display:inline;
	padding:0px 10px 0px 10px;
	position:absolute;
	top:0px;
	left:-50px;
	z-index:100;
}

#jdm-menu-item-options-T
{
	display:inline;
	padding:0px 10px 0px 10px;
	font-size:10pt;
}

#jdm-menu-item-options-B
{
	display:inline;
	padding:0px 10px 0px 10px;
}

#jdm-menu-item-help-T
{
	display:inline;
	padding:0px 10px 0px 10px;
	font-size:10pt;
}

#jdm-menu-item-help-B
{
	display:inline;
	padding:0px 10px 0px 10px;
}

/* BLOCKS */



#jdm-left-block{
	position:relative; top:0mm; left:0mm;
	width:200px;
	/*border:1px solid black;*/
	}
#jdm-right-block{
	position:absolute; top:0mm; right:0mm;
	width:200px;
	z-index:2;
	/*border:1px solid black;*/
	}
	
#jdm-top-block
{
	/*position:absolute;
	top:0px;*/
	/*   left:0px;*/
	width:100%;
	height:70px;
	/*    background-color:#A6CAF0;*/
	/*background-color:black;
	display:inline;
	z-index:25;
	text-align: center;*/
	
	text-align:center;
	position:absolute;right:0px; top:0px;
	/*border:1px solid grey;*/
	background-color:black;
	z-index:27;
	/*width:130px;
	height:90px;*/
	opacity:1;
}
#jdm-top-block-shadow{
	width:100%;
	height:76px;
	position:absolute; left:0px; top:0px;
	float:left;
	clear:left;
	background: url(../pics/shadowAlpha-2.png) repeat-x bottom right !important;
	/*background: url(../pics/shadow.gif) repeat-x bottom right;*/
	margin: 0px 0 0px 0px !important;
	margin: 0px 0 0px 0px;
	padding: 0px;
	z-index:26;
}

.jdm-bottom-block
{
	visibility:hidden;
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:70px;
	background-color:#A6CAF0; 
	display:inline;
}

.jdm-level1-block
{
	position:absolute;
	display:inline;
	left:0px;
	top:70px;
	width:100%;
	height:60px;
	/*z-index: -25;*/
/*	border-style:solid;
	border-width:thin;
	border-color:red; */
	opacity:1;
}

.jdm-level2-block
{
	position:absolute;
	display:inline;
	left:0px;
	top:130px;
	width:100%;
	height:70px;
/*	border-style:solid;
	border-width:thin;
	border-color:red; */
	/*opacity:0.75;
	background-color:white; */
}

.jdm-level3-block
{
	position:absolute;
	display:inline;
	top:0cm; 
	left:0cm;
	top:210px;
			
	/* border-style:solid;
	border-width:thin;
	border-color:red; */
}


.jdm-top-menu-block
{
/*	position:absolute;top:2mm; left:50mm;*/
	position:relative;top:2mm;;
	margin-left: auto;
   	margin-right: auto; 
	width:12cm;
	display:inline;
	text-align:center;
	
}

.jdm-bottom-menu-block
{
	/* visibility:hidden; */
	position:absolute;
	top:0mm; 
	left:0mm;
	width:15cm;
	display:inline;
	z-index:0;
}

.jdm-warning
{
	color:red;
	
}

.jdm-candidate-form-block
{
	position:relative;top:-60px;
	margin-left:30px;
}

.jdm-last-prop-block
{
	position:relative;top:-60px;
	margin-left:30px;
}

#jdm-taboo-suggestion-block {
	position:fixed;left:0px;bottom:0px;
	width:100%;
	}
	
#jdm-taboo-block
{
	background-color:white;
	border:0px solid red;	
	width:100%;
	vertical-align:bottom;
	font-weight:normal;
	z-index:1000;
	opacity:0.75;
}
#suggestion-done
{
	display:inline;
}
#taboo-done
{
	display:inline;
}

#jdm-suggestion-block
{
	/*color:#006699;*/
	height:20px;
	background-color:white;
	color:red;
	border:0px solid red;
	border-right:0px solid grey;
	width:100%;
	vertical-align:bottom;
	z-index:1002;
	opacity:1;
}

#jdm-taboo-block-title
{
	position:fixed;right:0px;bottom:20px;
	font-size:10pt;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	color:orange;
	z-index:2002;
}

#jdm-taboo-block-text
{
	font-style:normal;
	font-variant:normal;
	font-weight: bold ;
	border:0px solid blue;
	width:100%;
	z-index:10;
	vertical-align:top;
/*	position:relative;top:-15px;*/
	color:orange;
	opacity:1;
	z-index:1005;
}
#jdm-suggestion-block-text
{
	font-size:10pt;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	height:20px;
	width:100%;
	z-index:10;
	vertical-align:bottom;
	color:#99cc33;
	opacity:1;
	z-index:1005;
}

#jdm-suggestion-block-title
{
	position:fixed;right:0px;bottom:0px;
	font-size:10pt;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	color:#99cc33;
	
}

.jdm-block-formbuyplay
{
	background-color:#FFFFCC;
}

.jdm-chart
{
	font-size:Small;
	font-variant:small-caps;
	font-family:sans-serif;
	color:grey;
	background-color:#E0E0E0;
	margin-left:30px;
	margin-right:30px;
}
	
.jdm-news-block
{
	text-align:center;
	display:inline;
	position:absolute;
	top:40mm;
	right:0mm;
	z-index:0;
	/* border:1px solid red; */
	width:70mm;
}
		
.jdm-news
{
	font-size:9pt;
	/*font-variant:small-caps;*/
	color:#006699;
	vertical-align:middle;
	padding-top:4px;
	padding-bottom:10px;
	margin-left:0px;
	background-color:#FFFFCC;
	/*border:1px solid grey;	*/
	/*margin: 10px 10px 10px 10px; */
	width:500px;
	position:relative; right:6px; top:-6px;
	z-index:0;
}
	
.jdm-news-shadow{
	position:relative; 
	right:0px;
	float:left;
	clear:left;
	background: url(../pics/shadowAlpha.png) no-repeat bottom right !important;
	background: url(../pics/shadow.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;
	z-index:0;
}


.jdm-news-single
{
	font-size:9pt;
	/*font-variant:small-caps;*/
	color:#006699;
	vertical-align:middle;
	margin-left:0px;
	/*background-color:#FFFFCC;*/
	/*border:1px solid grey;	*/
	/*margin: 10px 10px 10px 10px; */
	width:170px;
	height:256px;
	position:relative; left:25px; top:20px;
	z-index:0;
}

.jdm-news-single-shadow{
	position:relative; 
	right:-65px;
	top:-25px;
	/*float:left;
	clear:left;*/
	width:213px;
	height:256px;
	background: url(../pics/postitjaune3.png) no-repeat top left;
	z-index:0;
}
	
#jdm-gain-block
{
	font-size:medium;
	color:green;
	margin-top:30px;
	margin-bottom:30px;
	/*border:1 px;*/ 
	/*background-color:white;
	opacity:0.8;*/
	text-align:center;

}

.jdm-term-prop-notinbase
{
	font-size:10pt;
	color:#FFA500;
	display:inline;
}

.jdm-term-prop-inbase
{
	font-size:10pt;
	color:green;
	display:inline;
}
.jdm-term-prop-wrong-inbase
{
	font-size:10pt;
	color:red;
	display:inline;
}

.jdm-term-intersect-notinbase
{
	font-size:10pt;
	color:#FFA500;
	display:inline;
}

.jdm-term-intersect-inbase
{
	font-size:10pt;
	color:green;
	display:inline;
}

#dhtmltooltip{
	position:absolute;
	width:150px;
	border:1px solid black;
	padding:2px;
	background-color:#FFCC33;
	visibility:hidden;
	z-index:100;
}

.jdm-intern
{
	visibility:hidden;
	margin-bottom:-10px;
}


.jdm-pin-player-stats
{
	position:absolute;
	top:9px;
	right:17px;
	z-index:30;
	background: url(../pics/pin-1.gif) no-repeat bottom right;
	width:25px;
	height:25px;
}

.jdm-ranking-block
{
	text-align:center;
	font-size:9pt;
	color:gray;
	/*position:relative;right:6px; top:-6px;*/
	position:absolute;left:200px; top:0px;
	/* border:1px solid grey; 
	background-color:white;*/
	z-index:21;
	width:65%;
}

.jdm-ranking-block-2
{
	text-align:center;
	font-size:9pt;
	color:gray;
	position:absolute;left:200px; top:0px;
	background-color:white;
	z-index:21;
	/*width:100%;*/
}


.jdm-ranking-block-shadow
{
	position:absolute;left:200px; top:30px;
	/*float:left;
	clear:left;*/
	/*background: url(pics/shadowAlpha.png) no-repeat bottom right !important;
	background: url(pics/shadow.gif) no-repeat bottom right;*/
	/*margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;*/
	z-index:20;
	height:100%;
}

.jdm-antik-tag
{
	/*text-align:center;
	vertical-align:middle;*/
	text-align:center;
	position:absolute;
	left:-55px;
	top:150px;
	width:110px;
	height:111px;
	font-size:30pt;
	z-index:100;
	/*background: url(pics/antik.gif) no-repeat top left;*/
	background: url(../pics/postits/antik2.gif) no-repeat top left;
}

.jdm-pastille
{
	/*text-align:center;
	vertical-align:middle;*/
	text-align:center;
	position:absolute;
	left:50px;
	top:500px;
	width:100px;
	height:102px;
	z-index:50;
	background: url(../pics/postits/pastille-rouge-small.gif) no-repeat top left;
}
.jdm-pastille-text
{
	text-align:center;
	vertical-align:middle;
	font-weight:normal;
	font-size:18pt;
	color:white;
	padding-top:40px;
	position:absolute;
	/*left:10px;*/
	top:-10px;
	width:100px;
	height:102px;
}
.jdm-oldgame-block
 {
 	color:#006699;
	text-align:center;
	vertical-align:middle;
	position:absolute;
	left:40px;
	top:270px;
	width:115px;
	height:116px;
	padding-top:20px;
	padding-left:5px;
	background: url(../pics/postits/jdm-about2.gif) no-repeat top left;
 }
 
 .jdm-player-level-loose-block,.jdm-player-level-gain-block 
 {
 	color:#006699;
 	font-size:10pt;
	text-align:center;
	vertical-align:middle;
	position:absolute;
	right:20px;
	top:140px;
	width:115px;
	height:116px;
	padding-top:20px;
	padding-left:5px;
	background: url(../pics/postits/jdm-about.gif) no-repeat top left;
 }
  .jdm-term-level-loose-block,.jdm-term-level-gain-block 
 {
 visibility:hidden;
 }
 
 #jdm-twik-block
{
 	background:white;
	position:fixed; bottom:0px;
	font-size:small;
	z-index:2000;
	color:black;
	text-align:center;
	width:100%;
	height:18px;
	opacity:0.7;
}

 .jdm-toggle-block
{
 	position:relative;
 	text-align:center;
	vertical-align:middle;
 	display:inline;
 	border:0px solid grey;
 	/*background:white;*/
	/*font-size:small;*/
	z-index:2000;
	
	/*width:10px;
	height:10px;*/
	opacity:0.9;
}

#jdm-learn-more-block
{
	position:fixed;right:0mm;bottom:-20mm;
	font-size:large;
	z-index:2000;
	text-align:right;
	width:231px;
	height:290px;
	border:0px solid red;
	vertical-align:middle;
	background: url(../pics/taches/clean_muddy_ink_stain6.png) no-repeat top left;
}

#jdm-learn-more
{
	position:fixed;right:0mm;bottom:10mm;
	width:100px;
	z-index:2001;
	border:0px solid red;
	color:#F8F8FF;
	text-align:center;
}
#jdm-learn-more A{
	color:#F8F8FF;
}
#falsesubmit_block{
	display:inline;
}
#countdownie{
	display:inline;
}

.tache_span{
	display:inline;
}
#jetons_span{
	display:inline;
}
#duels_span{
	display:inline;
}
#proces_span{
	display:inline;
}
#more_span{
	display:inline;
}
#jackpot_span{
	display:inline;
}


﻿/* ruby support */

ruby
{
	display: inline-table;
	text-align: center;
	white-space: nowrap;
	text-indent: 0;
	margin: 0;
	vertical-align: -20%;
}



/* ルビベース */

ruby > rb, ruby > rbc
{
	display: table-row-group;
	line-height: 90%;
}



/* 前側ルビテキスト */

ruby > rt, ruby > rbc + rtc
{
	display: table-header-group;
	font-size: 60%;
	line-height: 40%;
	letter-spacing: 0;
}


/* 後側ルビテキスト */

ruby > rbc + rtc + rtc
{
	display: table-footer-group;
	font-size: 60%;
	line-height: 40%;
	letter-spacing: 0;
}



/* 複雑ルビテキスト */

rbc > rb, rtc > rt
{
	display: table-cell;
	letter-spacing: 0;
}

/* rt[rbspan] should be transformed into td[colspan] but that requires xslt */

rtc > rt[rbspan] { display: table-caption; }



/* ルビ括弧 */

rp { display: none; }
